@{
    ViewData["Title"] = "Home";
}

<h2>Welcome to the Car Rental System</h2>

<div>
    <button onclick="window.location.href='@Url.Action("Office", "Home")'">Office</button>
    <button onclick="window.location.href='@Url.Action("Customer", "Home")'">Customer</button>
</div>
